* {
    margin: 0;
    padding: 0;
}

body {
    background: var(--azul-degrade);
    color: var(--branco);
    box-sizing: border-box;
}

h1 {
    font-family: var(--fonte-krona);
}

.cabecalho {
    padding: 3% 0% 0% 15%;
}

.cabecalho__menu {
    display: flex;
    gap: 105px;
}

.cabecalho__menu__link {
    font-family: var(--fonte-mont);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--azul-claro);
}

.apresentação__conteudo__texto {
    font-family: var(--fonte-mont);
    font-size: 1.5rem;
    font-weight: 400;
}

a {
    font-family: var(--fonte-mont);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
}

.apresentação {
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentação__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentação__conteudo__titulo {
    font-size: 2.25rem;
}

.titulo__cabeçalho {
    color: var(--azul-claro);
    font-size: 2.25rem;
    font-weight: 400;
}

.apresentação__botao {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.apresentação__conteudo__link {
    display: flex;
    justify-content: center;
    gap: 16px;
    background-color: transparent;
    width: 65%;
    border-radius: 8px;
    font-size: 1.5rem;
    font-family: var(--fonte-mont);
    font-weight: 600;
    padding: 21.5px 0;
    color: var(--branco-botao);
    border: 2px solid var(--azul-claro);
}

.apresentacao__subtitulo {
    font-family: var(--fonte-krona);
    font-size: 1.5rem;
    font-weight: 400;
}

.apresentação__conteudo__link:hover {
    background-color: var(--preto);
}

.imagem {
    width: 50%;
}

.rodape {
    font-family: var(--fonte-mont);
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--azul-escuro);
    background-color: var(--azul-claro);
    text-align: center;
    padding: 24px;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 6%;    
    }

    .cabecalho__menu {
        justify-content: center;
    }

    .apresentação {
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentação__conteudo {
        width: auto;
    }

}