@import url("./estilos.css");

:root {
    --azul-claro: #22D4FD;
    --preto: #000000;
    --branco: #F6F6F6;
    --branco-botao: #FFFFFF;
    --azul-degrade: linear-gradient(174.61deg, #041833 4.16%, #04244F 48%, #154580 96.76%);
    --azul-escuro: #123F77;
    --fonte-mont: "Montserrat";
    --fonte-krona: "Krona One";
}